<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/All.css" />
    <link rel="stylesheet" href="../css/AboutMe.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>PinGiDev</title>
  </head>
  <body>
    <header>
      <h1><a href="Aboutme.html">PinGiDev</a></h1>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <button
          class="navbar-toggler shadow-none border-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end bg-black text-bg-dark"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <button
              type="button"
              class="btn-close btn-close-white border-0 shadow-none"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >About Me</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Products.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CustomProject.html">Custom Product</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="#description">Description</a></li>
          <li><a href="#formation">Formation</a></li>
          <li><a href="#skills">Skills</a></li>
        </ul>
      </nav>
      <section>
        <h1>Jorge Pino Gil</h1>
        <p>Web Developer</p>
      </section>
      <section id="description">
        <h2>Description</h2>
        <div class="description">
          <img src="../imgs/jorge.jpg" alt="PinGiDev selfie" />
          <p>
            Hello! My name is Jorge, and I am a web developer. I finished the
            higher education cycle in web development and now I want to study
            computer enginering.
          </p>
        </div>
      </section>
      <section id="formation">
        <h2>Formation</h2>
        <div class="formation">
          <p>Bachelor's degree</p>
          <p>Higher Cycle of Web Application Development</p>
        </div>
      </section>
      <section id="skills">
        <h2>Skills</h2>
        <div class="aptitudes">
          <p>CSS</p>
          <p>PHP</p>
          <p>Java</p>
          <p>HTML</p>
          <p>JavaScript</p>
          <p>Bootstrap</p>
          <p>Power Bi</p>
          <p>AWS</p>
          <p>SQL</p>
        </div>
      </section>
    </main>
    <footer>
      <i class="fa-brands fa-instagram icon" style="color: #ffffff"></i>
      <i class="fa-brands fa-github icon" style="color: #ffffff"></i>
      <i class="fa-regular fa-envelope icon" style="color: #ffffff"></i>
    </footer>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
