:root{
    --imgWidth: 350px;
}


main{
    margin: 0;
}

h2{
    margin-bottom: 20px;
}

section:first-child{
    height: 101vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation{
    animation-name: scale;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#presentation p{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 0px;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff,#487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    animation: gradientAnimation 2.5s linear infinite;

}

@keyframes gradientAnimation {
    100% {
        background-position: 200%;
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.grid{
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

#description, #employeeDescription{
    background-color: white;
    color: black;
}

#description img{
    width: var(--imgWidth);
    border-radius: 10px;
    box-shadow: -10px -10px black;
    border: 2px solid black;
}

#description p{
    width: 80%;
    padding: 10px;
    color: black;
    border: 2px solid grey;
    box-shadow: 10px 10px grey;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


#description p:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px grey, -10px -10px grey;
}


#formation, #skills{
    margin: 20px 0px;
}


#formation{
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px white;
    border: 2px solid white;
}

#formation p{
    padding: 10px 0px;
}

.aptitudes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.aptitudes div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aptitudes div i{
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}

.fa-css3-alt:hover{
    color: rgba(20, 106, 255, 1);
}

.fa-js:hover{
    color:yellow;
}

.fa-html5:hover{
    color:orange;
}

.fa-bootstrap:hover{
    color: purple;
}

.fa-php:hover{
    color:rgba(42, 99, 199, 1);
}

.fa-java:hover{
    color:red;
}

.fa-aws:hover{
    color: orange;
}

.fa-microsoft:hover{
    color:yellow;
}

.fa-database:hover{
    color: blue;
}

#formation{
    width: 80%;
}

.formation{
    text-align: center;
}

.card{
    width: var(--imgWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.card img{
    width: var(--imgWidth);
}

.card p{
    padding: 20px;
}


@media screen and (max-width:900px) {
    #description img{
        width: 250px;
    }

}

@media screen and (max-width:650px) {

    #carouselProducts{
        width: 350px;
    }

    #producImg{
        width: 350px;
    }

    .grid{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #description{
        min-height: 90vh;
    }

    #description img{
        margin-bottom: 20px;
    }

    #description p:hover{
        transform: none;
    }

    #formation, #skills{
        margin-top: 50px;
        width: 80%;
    }

}