h2{
    margin-bottom: 20px;
}

#presentation{
    height: calc(90vh - var(--header-height));
    margin-bottom: 20px
}

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description{
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

#description img{
    width: 350px;
    border-radius: 10px;
}

#description p{
    width: 80%;
}

section:nth-child(3){
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#formation, #skills{
    margin: 20px 0px;
}

.aptitudes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.formation{
    text-align: center;
}

section:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carouselProducts{
    width: 600px;
}

#producImg{
    width: 600px;
    transition: transform 0.2s ease-in-out;
}

#producImg:hover{
    transform: scale(1.1);
}

@media screen and (max-width:900px) {
    #description img{
        width: 250px;
    }

}

@media screen and (max-width:650px) {

    #carouselProducts{
        width: 500px;
    }

    #producImg{
        width: 500px;
    }

}