:root{
    --paddingLi : 10px;
}

header{
    padding: 0px 10px;
    position: sticky
}

header h1{
    padding: 10px;
}


header{
    position: relative;
}


.navbar{
    height: 100%;
    padding: 0;
    align-items: flex-end;
}

ul{
    padding: 0px 10px;
}

ul li{
    background-color: white;
    padding: 0;
}

li:has(.active){
    background-color: black;
}

.liBefore{
    border-radius: 0px 0px 10px 0px;
}

.liNext{
    border-radius: 0px 0px 0px 10px;
}

.nav-link{
    background-color: black;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 15px !important;
}

.username{
    color: white !important;
}

li:has(.active) a{
    height: 100%;
    /* !important because bootstrap change the color */
    color: black !important;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

main{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}


article {
    width: 95%;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

article h2{
    margin-top: 20px;
    padding: 10px;
    box-shadow: -10px -10px grey;
    border: 2px solid grey;
}

.card{
    width: 80%;
    box-shadow: none !important;
    border: 1px solid black;
}

.card-body, .card-footer{
    border-top: 1px solid black;
}


.card, .card-header, .card-body, .card-footer{
    background-color: transparent;
}

.select2-results{
    max-height: 100px;
    overflow: auto;
}

.select2-results__options{
    display: initial;
    color: black;
}

table {
    width: 100%;
    margin-top: 50px;
    height: auto;
    color: black;
    padding: 10px;
}

table thead{
    background-color: black;
    color: white;
}

table thead th{
    padding: 10px;
}

table tr {
    border-bottom: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

table tr:hover {
    background-color: rgba(160, 160, 160, 0.25);
}


tbody td {
    padding: 10px;
    text-align: center;
}

table tbody td .icon {
    margin: 2px;
    padding: 0;
    color: black;
    font-size: 20px;
}


.add {
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.add:hover {
    transform: scale(1.1);
}

.icon{
    transition: color 0.3s ease-in-out;
}


.fa-pen-to-square:hover {
    color: rgb(0, 132, 255);
}

.fa-toggle-on:hover {
    color: rgb(219, 223, 10);
    cursor: pointer;
}

.fa-toggle-off:hover{
    cursor: pointer;
}

.fa-trash-can:hover {
    color: rgb(255, 32, 32);
}

@media screen and (max-width: 500px) {
    table {
        font-size: 10px;
    }

    table tbody td .icon {
        margin: 0px;
        font-size: 7px;
    }
}
