header{
    padding: 0;
    position: sticky
}

header h1{
    padding: 10px;
}


header{
    position: relative;
}


.navbar{
    height: 100%;
    padding: 0;
    align-items: flex-end;
}


li:has(.active){
    background: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
}

li:has(.active) a{
    /* !important because bootstrap change the color */
    color: black !important;
}

main{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}


article {
    width: 95%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

article h2{
    padding: 10px;
    box-shadow: -10px -10px grey;
    border: 2px solid grey;
}

table {
    width: 90%;
    margin-top: 50px;
    height: auto;
    color: black;
    padding: 10px;
    /*    box-shadow:
            inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
            inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);*/
    box-shadow:
        inset 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5),
        inset -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.3);
}

table thead{
    background-color: black;
    color: white;
}

table thead th{
    padding: 10px;
}

table tr {
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

table tr:hover {
    background-color: rgba(128, 128, 128, 0.5);
}


tbody td {
    padding: 10px;
    text-align: center;
}

table tbody td .icon {
    margin: 2px;
    padding: 0;
    color: black;
    font-size: 20px;
}


.add {
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.add:hover {
    transform: scale(1.1);
}


.fa-pen-to-square:hover {
    color: rgb(0, 132, 255);
}

.fa-toggle-on:hover {
    color: rgb(219, 223, 10);
}

.fa-trash-can:hover {
    color: rgb(255, 32, 32);
}

@media screen and (max-width: 500px) {
    table {
        font-size: 10px;
    }

    table tbody td .icon {
        margin: 0px;
        font-size: 7px;
    }
}
