@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 100px;
    --nav-height: 80px;
    --bgcolor-admin: white;
    --color-admin : black;
}

body {
    background: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

main {
    margin-top: calc(var(--header-height) + 40px);
    min-height: 90vh;
}

header {
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 1;
}

header h1 {
    margin-bottom: 0;
}

header h1 a img {
    width: 200px;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 10px;
}

ul li a {
    text-decoration: none;
    text-align: left;
}

h2, h3{
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px;
    border-top: 1px solid white;
    text-align: left;
}

#copyright {
    justify-self: center;
}

.contact {
    justify-self: end;
}

.icon {
    color: #ffffff;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 10px;
    transition: all 0.3s ease-in-out;
}

.fa-instagram:hover {
    background-color: purple;
}

.fa-github {
    border: 1px solid black;
}

.fa-github:hover {
    border: 1px solid white;
}

.fa-envelope:hover {
    background-color: rgba(255, 0, 0, 0.74);
}

@media screen and (max-height:1000px) {
    body{
        font-size: medium;
    }

    .icon {
        margin:0;
    }
}

@media screen and (max-width:500px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    header h1 a img {
        width: 100px;
        height: 50px;
    }

    .icon {
        padding: 3px;
        margin: 0px 3px;
    }

    .legal {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .legal * {
        margin: 10px;
    }

    .legal div * {
        padding: 3px;
    }

    .contact{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact *{
        padding: 10px;
    }

}