:root{
    --width-image : 1100px;
}


article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation{
    height: calc(95vh - var(--header-height));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: opacity;
    animation-duration: 8s;
}

h2{
    font-size: 100px;
}

.presentation p{
    padding: 50px;
    width: 50%;
}

.slider {
    width: 100%;
    display: flex;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

svg {
    padding: 0px 10px;
}

.logo {
    margin: 0px 10px;
    animation: scroll 20s linear infinite;
}


.cards{
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color: black;
}

.card i{
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

#relationship{
    box-shadow: 10px 10px grey, -10px -10px grey;

}

#seo{
    box-shadow: -10px -10px grey;

}

#us{
    box-shadow: 10px 10px grey;
}

.minimalism-container{
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.minimalism{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.minimalism img{
    width: 1000px;
    padding: 10px;
}

.minimalism-text{
    padding: 10px;
    width: 60%;
    box-shadow: 10px 10px grey;
    border: 1px solid grey;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.minimalism-text:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px grey, -10px -10px grey;
}


.carouselProducts{
    height: auto;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carouselProducts{
    width: var(--width-image);
}

#producImg{
    width: var(--width-image);
    transition: transform 0.2s ease-in-out;
}

#producImg:hover{
    transform: scale(1.1);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300%);
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:1400px) {
    .minimalism img{
        width: 800px;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:1100px) {
    :root{
        --width-image : 900px;
    }

    .presentation, .minimalism{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentation p{
        width: 80%;
        margin: 10px 0px;
    }

    h2{
        font-size: 100px;
    }

    .cards{
        height: 80vh;
    }

    .card{
        width: 80%;
    }

    .minimalism{
        height: auto;
        justify-content: space-evenly;
    }


    .minimalism img{
        width: 900px;
        margin-bottom: 40px;
    }


    .minimalism-text{
        width: 80%;
    }

}


@media screen and (max-width:1000px) {
    :root{
        --width-image : 870px;
    }
    .cards{
        height: auto;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .minimalism img{
        width: 870px;
    }
}


@media screen and (max-width:900px) {
    :root{
        --width-image : 800px;
    }
    .minimalism img{
        width: 800px;
    }
}


@media screen and (max-width:855px) {
    :root{
        --width-image : 680px;
    }

    .minimalism img{
        width: 680px;
    }
}



@media screen and (max-width:700px) {
    :root{
        --width-image : 580px;
    }

    .minimalism img{
        width: 580px;
    }
}


@media screen and (max-height:680px) {
    :root{
        --width-image : 590px;
    }

    .minimalism img{
        max-width: 590px;
    }
}

@media screen and (max-width:600px) {
    :root{
        --width-image : 530px;
    }
    
    h2{
        font-size: 80px;
    }

    .minimalism img{
        width: 530px;
        margin-bottom: 10px;
    }

    .minimalism-text:hover{
        transform: none;
    }
}



@media screen and (max-width:550px) {
    :root{
        --width-image : 420px;
    }
    .minimalism img{
        width: 420px;
    }
}


@media screen and (max-width:450px) {
    :root{
        --width-image : 390px;
    }
    h2{
        font-size: 50px;
    }

    .minimalism img{
        width: 390px;
    }

}


@media screen and (max-width:400px) {
    :root{
        --width-image : 350px;
    }

    .minimalism img{
        width: 350px;
    }
}



@media screen and (max-width:370px) {
    :root{
        --width-image : 300px;
    }

    .minimalism img{
        width: 300px;
    }
}

