.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 20px 0px;
}

.product{
    margin: 20px 0px;
}

.product img {
    width: 350px;
    height: 350px;
    transition: transform 0.2s ease-in-out;
}

.product img:hover{
    transform: scale(1.05);
}

.product .buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.btnFav{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btnFav:hover{
    transform: scale(1.2);
}

.noFav{
    color: #ffffff;
}

.fav{
    color: #ff0000;
}

@media screen and (max-width: 930px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}
